.support {
  text-decoration: none;
  color: #8cc0de;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .support {
    display: none;
  }
}
