.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.title {
  --color-placeholder: #d1d1d1;
  display: block;
  height: 47px;
  margin: 0 0 9px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  border: 0;
  outline: 0;
  font-size: 36px;
  font-family: Roboto;
  line-height: 1.3em;
  font-weight: 500;
}

.editor {
  font-family: Roboto;
  width: 100%;
  height: calc(100vh - 240px);
  overflow-y: auto;
}

.button {
  margin: 0 auto;
  width: 200px;
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
