.post {
  margin-top: 30px;
  position: relative;
  height: fit-content;
  font-family: "Oswald", sans-serif;
}

.background {
  height: auto;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f2cd5d;
}

.title {
  max-width: 1000px;
  padding: 20px;
  margin-top: 0;
  color: #fff;
  font-size: 60px;
  margin-bottom: 10px;
}

.description {
  max-width: 1000px;
  font-size: 30px;
  margin: 20px 0 5px;
}

.info {
  width: auto;
  display: flex;
  justify-content: space-between;
}
.meta {
  width: auto;
  display: flex;
  align-items: center;
}

.published {
  margin-right: 40px !important;
  font-size: 20px;
  text-transform: italic;
  margin-right: 20px;
}
.author {
  margin-right: 5px !important;
  font-size: 20px;
  text-transform: italic;
  margin-right: 20px;
  color: #101010;
}
.category {
  color: black;
  background-color: #f2cd5d;
}

.article {
  font-family: Roboto;
  margin-top: 20px;
  min-height: auto;
  height: fit-content;
  padding: 0 50px;
  font-size: 20px;
}

.paragraph {
  max-width: 100%;
}

.img {
  max-width: 100%;
  text-align: center;
}
.img img {
  max-width: 80%;
}

.caption {
  font-weight: bold;
  margin: 10px 0 30px;
}
