.post {
  margin-top: 30px;
  position: relative;
  height: fit-content;
  font-family: "Oswald", sans-serif;
}

.background {
  height: auto;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 20px;
  background-color: black;
}

.title {
  padding: 20px;
  margin-top: 0;
  color: #fff;
  font-size: 60px;
  margin-bottom: 10px;
}

.description {
  max-width: 1000px;
  font-size: 30px;
  margin: 20px 0 5px;
}

.info {
  display: flex;
}

.published {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: italic;
  margin-right: 20px;
  color: #f7b32b;
}

.article {
  font-family: Roboto;
  margin-top: 40px;
  min-height: auto;
  height: fit-content;
  padding: 0 30px;
  font-size: 20px;
}

.paragraph {
  max-width: 100%;
}
