.container {
  padding: 30px;
  border-radius: 0 8px 8px 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 600px;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=781&q=80);
  background-size: cover;
  background-position: left;
  border-radius: 8px 0 0 8px !important;
  width: 250px;
  height: 660px;
}

.background__logo {
  padding: 30px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
}

.content {
  height: 100px !important;
  max-width: 335px;
}

.title {
  display: flex;
  align-items: flex-end;
  font-size: 26px !important;
  font-family: Roboto;
  font-weight: 600 !important;
  height: 30%;
}

.login {
  cursor: pointer;
  outline: none;
  color: rgb(59, 165, 184);
  background-color: transparent;
  border: none;
}
.login:hover {
  color: red;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  width: 328px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), inset 0 0 0 1px rgb(0 0 0 / 6%),
    inset 0 -1px 0 rgb(0 0 0 / 12%), inset 1px 0 0 rgb(0 0 0 / 6%),
    inset -1px 0 0 rgb(0 0 0 / 6%);
  margin-bottom: 15px !important;
  color: #000 !important;
  font-family: Roboto !important;
  text-transform: none !important;
  font-size: 16px !important;
}

.option:hover {
  background-color: rgb(241, 241, 241) !important;
}
