.header {
  padding: 22px;
}
.header_solid {
  /* background-color: #ffe0b5; */
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Oswald", sans-serif;
}

.user_info {
  display: flex;
  align-items: center;
}
.user_avatar {
  margin-left: 10px;
}

@media (max-width: 600px) {
  /* !!!!!!!!!!!!!!!!!!!!!!!*/
  .header {
    background: transparent;
  }
}

@media (max-width: 400px) {
  .header {
    padding-top: 10px;
  }
}
